#error 
  .outwrapper(narrow)
    .inwrapper
      .card
        h1 나는 찻주전자다
        a(title="Mendhak, CC BY-SA 2.0 &lt;https://creativecommons.org/licenses/by-sa/2.0&gt;, via Wikimedia Commons" href="https://commons.wikimedia.org/wiki/File:Black_tea_pot_cropped.jpg")
          img(width="512" alt="Black tea pot cropped" src="https://upload.wikimedia.org/wikipedia/commons/thumb/4/44/Black_tea_pot_cropped.jpg/512px-Black_tea_pot_cropped.jpg")
        hr
        p
          i 와니네 슬래시 일점 영점 영 서버 앳 와니 닷 아이오 포트 팔십