svg(id='_레이어_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 30 30')
  g(id='_레이어_1-2')
    path.cls-1(d='m15,9c0,3.31-2.69,6-6,6,3.31,0,6,2.69,6,6,0-3.31,2.69-6,6-6-3.31,0-6-2.69-6-6Z')
    line.cls-1(x1='15' x2='15' y2='9')
    line.cls-1(x1='9' y1='15' y2='15')
    line.cls-1(x1='15' y1='21' x2='15' y2='30')
    line.cls-1(x1='21' y1='15' x2='30' y2='15')
    circle.cls-1(cx='15' cy='15' r='12')
    line.cls-1(x1='9' y1='9' x2='3' y2='3')
    line.cls-1(x1='21' y1='9' x2='27' y2='3')
    line.cls-1(x1='9' y1='21' x2='3' y2='27')
    line.cls-1(x1='21' y1='21' x2='27' y2='27')
