svg(id='_레이어_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 31 31')
  g(id='_레이어_1-2')
    ellipse.cls-1(cx='15.5' cy='15.5' rx='6' ry='15' transform='translate(-6.42 15.5) rotate(-45)')
    ellipse.cls-1(cx='15.5' cy='15.5' rx='15' ry='6' transform='translate(-6.42 15.5) rotate(-45)')
    ellipse.cls-1(cx='15.5' cy='15.5' rx='6' ry='15')
    ellipse.cls-1(cx='15.5' cy='15.5' rx='15' ry='6')
    path.cls-1(d='m12.5,12.5c1.66,1.66,1.66,4.34,0,6,1.66-1.66,4.34-1.66,6,0-1.66-1.66-1.66-4.34,0-6-1.66,1.66-4.34,1.66-6,0Z')
