svg(id='_레이어_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 30.71 30.71')
  g(id='_레이어_1-2')
    circle.cls-1(cx='22.85' cy='7.85' r='4.5')
    circle.cls-1(cx='7.85' cy='22.85' r='4.5')
    path.cls-1(d='m15.35,7.85c0,4.14-3.36,7.5-7.5,7.5,4.14,0,7.5,3.36,7.5,7.5,0-4.14,3.36-7.5,7.5-7.5-4.14,0-7.5-3.36-7.5-7.5Z')
    line.cls-1(x1='.35' y1='.35' x2='9.35' y2='9.35')
    line.cls-1(x1='21.35' y1='21.35' x2='30.35' y2='30.35')
    line.cls-1(x1='30.35' y1='.35' x2='27.35' y2='3.35')
    line.cls-1(x1='3.35' y1='27.35' x2='.35' y2='30.35')