/*

  Page element styles

*/

main {
  min-height: calc(100vh);
  min-height: calc((var(--vh, 1vh) * 100));
}

/* header */
#header a {
  text-decoration: none;
}
#header-dummy {
  width: 100%;
  height: 4rem;
}
#header-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  height: calc(var(--vh, 1vh) * 100);
  background: rgba(0, 0, 0, 0.35);
  z-index: 50000000;
}
#header-cover[status='show'] {
  opacity: 1;
  pointer-events: all;
  transition: opacity 0.5s cubic-bezier(0, 0, 0.3, 1.3);
}
#header-cover[status='hide'] {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.15s ease-out;
}

#header-nav {
  width: 100%;
}

#header-nav-cover {
  z-index: 4500000;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  background-color: var(--bgt);
  opacity: 0;
  transition: opacity ease-out 0.2s;
  pointer-events: none;
}
#header-nav[dropdown='open'] #header-nav-cover {
  opacity: 1;
  transition: opacity ease-out 0.15s;
  pointer-events: all;
}

#header-nav-drawer {
  z-index: 5000000;
  position: absolute;
  top: -8rem;
  left: 0;
  width: 100%;
  height: 8rem;
  background: var(--bg);
  border-bottom-left-radius: 3rem 2.5rem;
  border-bottom-right-radius: 3rem 2.5rem;
  transition: border-radius ease-out 0.1s;
  /*box-shadow: inset 0 0 0 1px var(--fg) !important;*/
}
#header-nav[status='top'][dropdown='close'] #header-nav-drawer,
#header-nav[status='pre'][dropdown='close'] #header-nav-drawer {
  position: absolute;
  top: -8rem !important;
}
#header-nav[status='hide'] #header-nav-drawer,
#header-nav[status='show'] #header-nav-drawer {
  position: fixed;
}
#header-nav[dropdown='open'] #header-nav-drawer {
  border-bottom-left-radius: 3rem;
  border-bottom-right-radius: 3rem;
  transition: border-radius ease-out 0.2s;
}

#header-nav-dropdown {
  z-index: 5500000;
  position: absolute;
  top: 0;
  left: 0;
  width: calc(100% - 4rem);
  height: 0;
  padding: 4rem 2rem 0 2rem;
  overflow: hidden;
}
#header-nav[status='top'] #header-nav-dropdown,
#header-nav[status='pre'] #header-nav-dropdown {
  position: absolute;
  top: 0rem !important;
}
#header-nav[status='hide'] #header-nav-dropdown,
#header-nav[status='show'] #header-nav-dropdown {
  position: fixed;
}
#header-nav-dropdown > .content {
  width: 100%;
}
#header-nav-dropdown .links {
  width: 100%;
}
#header-nav-dropdown .links > a {
  display: block;
}
#header-nav-dropdown .links > a * {
  transition: color 0.1s ease-out;
}
#header-nav-dropdown .links > a .underline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 3px;
  background: var(--fg);
  transition: width 0.1s ease-in;
}
#header-nav-dropdown .links > a:hover .underline {
  width: 100%;
  transition: width 0.25s cubic-bezier(0.15, 0.5, 0.35, 1);
}
#header-nav-dropdown .links:hover > a:not(:hover) * {
  color: var(--fgm);
}
#header-nav-dropdown .links:hover > a:hover * {
  color: var(--fg);
}
#header-nav-dropdown h2,
#header-nav-dropdown h3,
#header-nav-dropdown h4 {
  display: inline-block;
  position: relative;
  line-height: 100%;
  font-weight: 500;
  padding-bottom: 0.5rem;
  margin-bottom: 0.5rem;
}
#header-nav-dropdown h2 {
  font-size: 2.5rem;
}
#header-nav-dropdown h3 {
  font-size: 2rem;
  margin-left: 1rem;
}

#header-nav-always {
  z-index: 6000000;
  position: absolute;
  top: -4rem;
  left: 0;
  width: calc(100% - 4rem);
  height: 4rem;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#header-nav[status='top'] #header-nav-always,
#header-nav[status='pre'] #header-nav-always {
  position: absolute;
  top: 0rem !important;
}
#header-nav[status='hide'] #header-nav-always,
#header-nav[status='show'] #header-nav-always {
  position: fixed;
}
#header-nav-always > .center,
#header-nav-always > .left,
#header-nav-always > .right {
  height: 2rem;
  display: flex;
  align-items: center;
}
#header-nav-always > .center {
  width: 9rem;
}
#header-nav-always > .left,
#header-nav-always > .right {
  width: calc((100% - 6rem) / 2);
}
#header-nav-always > .center .logo {
  height: 100%;
  display: flex;
}
#header-nav-always > .center .logo > * {
  height: 100%;
  -webkit-flex: 0;
  flex-shrink: 0;
}
#header-nav-always > .center .logo .title {
  margin-left: 0.25rem;
}
#header-nav-always > .center .logo > * > svg {
  height: 100%;
}
#header-nav-always > .left {
  justify-content: flex-start;
}
#header-nav-always > .right {
  height: 2.1rem;
  justify-content: flex-end;
  position: relative;
}
#header-nav-always > .left > * {
  --button-bg: transparent;
  --button-fg: var(--fg);
  --button-ol: var(--fg);
  --button-bg-hover: var(--fg);
  --button-fg-hover: var(--bg);
  margin-right: 0.5rem;
}
#header-nav-always > .left > *:last-child {
  margin-right: 0;
}
#header-nav-always-login {
  --button-bg: var(--fg);
  --button-fg: var(--bg);
  --button-ol: var(--fg);
  --button-bg-hover: var(--fg);
  --button-fg-hover: var(--bg);
}
#header-nav-always-account {
  position: absolute;
  top: 0;
  right: 0;
  background: var(--fg);
  border-radius: 1.1rem;
  cursor: pointer;
  overflow: hidden;
  /*box-shadow: inset 0 0 0 1px var(--fg) !important;*/
}
#header-nav-always-account > .profile {
  height: 1.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-top: 0.3rem;
  padding-bottom: 0rem;
  padding-right: 0.3rem;
  padding-left: 0.3rem;
}
#header-nav-always-account > .profile > .label {
  font-size: 1rem;
  font-weight: 700;
  color: var(--bg);
  height: 100%;
  max-width: 0;
  display: flex;
  align-items: center;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  margin-right: 0;
}
#header-nav-always-account.show > .profile > .label {
  max-width: calc(100% - 2rem);
}
#header-nav-always-account > .profile > .image {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 100%;
  overflow: hidden;
}
#header-nav-always-account > .profile > .image > img {
  width: 100%;
  height: 100%;
}
#header-nav-always-account > .menu {
  display: flex;
  flex-direction: column;
  width: 0;
  height: 0.3rem;
  opacity: 0;
  transition: opacity ease-out 0.1s;
  pointer-events: none;
}
#header-nav-always-account.show > .menu {
  opacity: 1;
  transition: opacity ease-out 0.25s;
}
#header-nav-always-account > .menu > hr {
  width: 100%;
  height: 0;
  border-top: solid 1px var(--bg);
  background: none;
}
#header-nav-always-account > .menu > .element {
  padding: 0.5rem 1rem;
  height: 1rem;
  pointer-events: all;
}
#header-nav-always-account > .menu > .element > .label {
  font-size: 1rem;
  font-weight: 700;
  position: relative;
  display: inline-block;
  color: var(--bg);
}
#header-nav-always-account > .menu > .element > .label > .underline {
  width: 100%;
  height: 0px;
  border-bottom: solid 1px var(--bg);
  position: absolute;
  bottom: -3px;
  visibility: hidden;
}
#header-nav-always-account > .menu > .element:nth-child(2) {
  padding-top: 1rem;
}
#header-nav-always-account > .menu > .element:last-child {
  padding-bottom: 1rem;
}
#header-nav-always-account > .menu > .element:hover > .label > .underline {
  visibility: visible;
}
#header-nav-always-account-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  -webkit-backdrop-filter: blur(25px);
  backdrop-filter: blur(25px);
  background-color: var(--bgt);
  opacity: 0;
  transition: opacity ease-out 0.2s;
  pointer-events: none;
}
#header-nav-always-account-background.show {
  opacity: 1;
  transition: opacity ease-out 0.15s;
  pointer-events: all;
}
@media (max-width: 900px) {
  #button-header-nav-always-blog {
    display: none;
  }
  #button-header-nav-always-amuject {
    display: none;
  }
}
@media (max-width: 900px) {
  #header-nav-always > .left > #button-header-always-blog,
  #header-nav-always > .left > #button-header-always-amuject {
    display: none;
  }
}
@media (max-width: 600px) {
  #header-nav-always {
    width: calc(100% - 2rem);
    padding: 0rem 1rem;
  }
  #header-nav-always > .center {
    width: 2rem;
  }
  #header-nav-always > .center .logo .title {
    display: none;
  }
  #header-nav-always > .left,
  #header-nav-always > .right {
    width: calc((100% - 4rem) / 2);
  }
}

/* footer */
#footer {
  background: var(--fg);
  color: var(--bg);
  width: calc(100% - 4rem);
  padding: 2.5rem 2rem 2rem 2rem;
  border-top-left-radius: 3rem;
  border-top-right-radius: 3rem;
  font-size: 1.25rem;
  z-index: 20000000;
  position: relative;
}
#footer-set {
  padding-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
#footer-set > .left {
  text-align: left;
}
#footer-set > .right {
  text-align: right;
}
#footer-banners {
  width: 100%;
}
#footer * {
  line-height: 180%;
  color: var(--bg);
}
@media (max-width: 600px) {
  #footer {
    width: calc(100% - 2rem);
    padding: 2.5rem 1rem 2rem 1rem;
    border-top-left-radius: 2.5rem;
    border-top-right-radius: 2.5rem;
  }
}
@media print {
  #footer {
    display: none;
  }
}
