/*
  theme: #D2B0DD; rgb(210,176,221); (D)
  theme: #AA8FB3; rgb(170,143,179); (L)
*/

/* Roundsharp */
@import url('/resources/fonts/Roundsharp.css');

/* Mint Grotesk */
@import url('/resources/fonts/Mint-Grotesk.css');

/* Pretendard Variable https://github.com/orioncactus/pretendard */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css');

/* ChosunSm https://noonnu.cc/font_page/418 https://event.chosun.com/100/100font.html */
@import url('/resources/fonts/ChosunSm.css');

/* Roboto Mono */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap');

/* Shippori Mincho */
@import url('https://fonts.googleapis.com/css2?family=Shippori+Mincho:wght@500;700&display=swap');

:root {
  --yellow-l: rgb(255, 219, 74);
  --yellow: rgb(255, 204, 0);
  --yellow-d: rgb(231, 185, 0);

  --orange-l: rgb(255, 169, 50);
  --orange: rgb(255, 149, 0);
  --orange-d: rgb(255, 149, 0);

  --red-l: rgb(253, 93, 84);
  --red: rgb(255, 59, 48);
  --red-d: rgb(209, 39, 30);

  --magenta-l: rgb(255, 85, 116);
  --magenta: rgb(255, 46, 85);
  --magenta-d: rgb(255, 46, 85);

  --purple-l: rgb(188, 115, 224);
  --purple: rgb(175, 82, 222);
  --purple-d: rgb(143, 57, 185);

  --blue-l: rgb(37, 142, 255);
  --blue: rgb(0, 122, 255);
  --blue-d: rgb(0, 95, 196);

  --cyan-l: rgb(80, 188, 238);
  --cyan: rgb(50, 173, 230);
  --cyan-d: rgb(25, 153, 212);

  --green-l: rgb(92, 219, 124);
  --green: rgb(52, 199, 89);
  --green-d: rgb(40, 179, 74);

  --t255: rgb(255, 255, 255);
  --t245: rgb(245, 245, 245);
  --t230: rgb(230, 230, 230);
  --t210: rgb(210, 210, 210);
  --t180: rgb(180, 180, 180);
  --t128: rgb(128, 128, 128);
  --t80: rgb(80, 80, 80);
  --t45: rgb(45, 45, 45);
  --t30: rgb(30, 30, 30);
  --t20: rgb(20, 20, 20);
  --t0: rgb(0, 0, 0);

  /*--yellow: rgb(255, 215, 0);
  --orange: rgb(255, 95, 0);
  --red: rgb(255, 30, 0);
  --magenta: rgb(255, 0, 160);
  --purple: rgb(105, 0, 255);
  --blue: rgb(0, 110, 255);
  --cyan: rgb(0, 195, 195);
  --green: rgb(0, 245, 65);*/

  --bg: var(--t245);
  --fg: var(--t0);

  --input-bg: var(--t230);
  --input-fg: var(--fg);
  --input-ph: var(--t128);
  --input-ol: var(--fg);

  --button-bg: var(--t230);
  --button-fg: var(--fg);
  --button-ol: var(--fg);
  --button-bg-hover: var(--fg);
  --button-fg-hover: var(--bg);
  --button-bg-disabled: var(--t180);
  --button-fg-disabled: var(--t80);
  --button-ol-disabled: var(--t80);

  --scrollbar-bg: transparent;
  --scrollbar-fg: var(--fg);
  --scrollbar-size: 1rem;
  --scrollbar-radius: 100%;

  --selection-bg: var(--fg);
  --selection-fg: var(--bg);

  --sans-serif: 'Mint Grotesk', 'Pretendard Variable', 'Pretendard JP Variable',
    'Malgun Gothic', 'Dotum', sans-serif;
  --serif: 'Times New Roman', 'Shippori Mincho', 'ChosunSm', 'Batang', serif;
  --monospace: 'SF Mono', 'Roboto Mono', 'Consolas', 'Pretendard Variable',
    'Pretendard JP Variable', 'Malgun Gothic', 'Dotum', sans-serif;
}

html {
  font-size: calc(15px + (100vw - 1500px) / 400);
}
html,
body {
  font-family: var(--sans-serif);
  font-weight: normal;
  margin: 0;
  padding: 0;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  scrollbar-width: 1rem;
  scrollbar-color: var(--scrollbar-fg) var(--scrollbar-bg);
  min-height: 100vh;
  min-height: calc((var(--vh, 1vh) * 100));
}
body {
  overflow-y: auto;
  overflow-x: hidden;
  background: var(--bg);
  color: var(--fg);
}
* {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  border-spacing: 0;
  color: var(--fg);
  line-height: 100%;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}
h1 {
  font-size: 3rem;
}
h2 {
  font-size: 2.5rem;
}
h3 {
  font-size: 2rem;
}
h4 {
  font-size: 1.75rem;
}
h5 {
  font-size: 1.5rem;
}
h6 {
  font-size: 1.25rem;
}
hr {
  width: 100%;
  height: 1px;
  background: var(--t210);
  border: none;
}
/* SVG */
svg {
  fill: var(--fg);
  stroke: transparent;
  stroke-width: 0.1rem;
  overflow: visible;
}
svg * {
  fill: var(--fg);
  stroke: transparent;
}
text {
  font-family: var(--sans-serif);
}
/* Selection */
::selection {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}
::-moz-selection {
  background-color: var(--selection-bg);
  color: var(--selection-fg);
}
/* Scroll */
::-webkit-scrollbar {
  position: fixed;
  width: var(--scrollbar-size);
  height: var(--scrollbar-size);
}
::-webkit-scrollbar-track {
  background: var(--scrollbar-bg);
}
::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-fg);
  border-radius: var(--scrollbar-radius);
}

[layer] {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
[noselect] {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Special classes */
.none {
  display: none !important;
}
.opa0 {
  opacity: 0 !important;
}
.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/*
  animation keyframes
*/
@keyframes rainbow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
[color='rainbow'],
.rainbow {
  background: linear-gradient(
    to right,
    rgba(255, 0, 0, 1),
    rgba(255, 154, 0, 1),
    rgba(208, 222, 33, 1),
    rgba(79, 220, 74, 1),
    rgba(63, 218, 216, 1),
    rgba(47, 201, 226, 1),
    rgba(28, 127, 238, 1),
    rgba(95, 21, 242, 1),
    rgba(186, 12, 248, 1),
    rgba(251, 7, 217, 1),
    rgba(255, 0, 0, 1),
    rgba(255, 154, 0, 1),
    rgba(208, 222, 33, 1),
    rgba(79, 220, 74, 1),
    rgba(63, 218, 216, 1),
    rgba(47, 201, 226, 1),
    rgba(28, 127, 238, 1),
    rgba(95, 21, 242, 1),
    rgba(186, 12, 248, 1),
    rgba(251, 7, 217, 1),
    rgba(255, 0, 0, 1)
  );
  background-size: 200% 100%;
  color: white;
  animation-name: rainbow;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-direction: normal;
  animation-iteration-count: infinite;
}
.rainbow.back {
  animation-direction: reverse;
}
