#blog-article-title {
  padding: 8rem 0 8rem 0;
  width: 100%;
}
#blog-article-title-display {
  font-size: 6vw;
  font-weight: 900;
  line-height: 120%;
  display: inline-block;
  max-width: 100%;
  word-break: keep-all;
  overflow-wrap: break-word;
  margin-bottom: 0;
}
#blog-article-title-display .block {
  white-space: nowrap;
  word-break: keep-all;
}
#blog-article-info {
  padding: 0 0 4rem 0;
}
#blog-article-info .inwrapper {
  display: flex;
  justify-content: flex-end;
}
#blog-article-info .ellipse {
  display: inline-flex;
  height: 4rem;
  background: var(--fg);
  border-radius: 100%;
  padding: 0 2rem;
  align-items: center;
}
#blog-article-info .ellipse > span {
  padding: 0 0.25rem;
}
#blog-article-info .ellipse span,
#blog-article-info .ellipse a {
  color: var(--bg);
  font-size: 1rem;
  font-weight: 700;
  line-height: 1.25rem;
  cursor: default;
}
#blog-article-info .ellipse .hide {
  display: none;
}
@media (max-width: 900px) {
  #blog-article-title-display {
    font-size: 3rem;
  }
}
@media (max-width: 600px) {
  #blog-article-title {
    padding: 6rem 0 6rem 0;
  }
  #blog-article-title-display {
    font-size: 2rem;
  }
  #blog-article-info {
    padding: 0 0 3rem 0;
  }
  #blog-article-info .ellipse {
    height: 3rem;
    padding: 0 1.5rem;
  }
}

#blog-article-content {
  padding-bottom: 12rem;
  border-bottom: solid 0.1rem var(--t210);
}
@media (max-width: 900px) {
  #blog-article-content .outwrapper {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
}
.article p {
  position: relative;
  max-width: 46rem;
  min-height: 2.5rem;
  margin: 0 auto;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 200%;
  text-align: justify;
  word-break: keep-all;
  word-wrap: break-word;
  white-space: pre-wrap;
}
.article p span {
  font-size: 1.25rem !important;
}
.article b {
  font-weight: 900;
}
.article a {
  text-decoration: underline;
}
.article p sup {
  vertical-align: top;
  position: relative;
  top: -0.5rem;
  font-size: 0.8333rem;
}
.article p sub {
  vertical-align: bottom;
  position: relative;
  bottom: -0.5rem;
  font-size: 0.8333rem;
}
.article br {
  line-height: 200%;
}
.article img {
  position: relative;
  display: block;
  width: auto;
  max-width: 100%;
  max-height: 100vh;
  max-height: calc((var(--vh, 1vh) * 100));
  border-radius: 0px;
  cursor: pointer;
  overflow: hidden;
  margin: 0 auto;
}
.article picture {
  cursor: pointer;
}
.article picture > img {
  pointer-events: none;
}
.article .font-sans-serif {
  font-family: var(--sans-serif);
}
.article .font-serif {
  font-family: var(--serif);
}
.article .font-monospace {
  font-family: var(--monospace);
}
.article .font-style-header-1 {
  font-size: 2rem;
  font-weight: 500;
}
.article .font-style-header-1 b {
  font-weight: 900;
}
.article .font-style-header-2 {
  font-size: 1.5rem;
  font-weight: 500;
}
.article .font-style-header-2 b {
  font-weight: 900;
}
.article .text-align-justify {
  text-align: justify;
}
.article .text-align-left {
  text-align: left;
}
.article .text-align-center {
  text-align: center;
}
.article .text-align-right {
  text-align: right;
}
.article .align-center-full,
.article .box-align-center-full {
  max-width: 100%;
}
.article .align-left-full,
.article .box-align-left-full {
  max-width: calc(100% - ((100% - 46rem) / 2));
  margin-right: calc((100% - 46rem) / 2);
}
.article .align-left-normal,
.article .box-align-left-normal {
  max-width: 23rem;
  margin-right: calc(23rem + ((100% - 46rem) / 2));
}
.article .align-left-side,
.article .box-align-left-side {
  max-width: calc(23rem + ((100% - 46rem) / 2));
  margin-right: calc(23rem + ((100% - 46rem) / 2));
}
.article .align-right-full,
.article .box-align-right-full {
  max-width: calc(100% - ((100% - 46rem) / 2));
  margin-left: calc((100% - 46rem) / 2);
}
.article .align-right-normal,
.article .box-align-right-normal {
  max-width: 23rem;
  margin-left: calc(23rem + ((100% - 46rem) / 2));
}
.article .align-right-side,
.article .box-align-right-side {
  max-width: calc(23rem + ((100% - 46rem) / 2));
  margin-left: calc(23rem + ((100% - 46rem) / 2));
}
.article .youtube-ratiobox {
  display: block;
  position: relative;
  padding-top: 56.25%;
  background: var(--t-128);
}
.article .youtube-ratiobox iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.article .code-block {
  background: var(--t20);
  border-radius: 1rem;
  padding: 1rem;
  display: block;
}
.article .code-block > .code-block-content {
  display: block;
  color: var(--bg);
  max-height: 80vh;
  overflow-y: auto;
  overflow-x: auto;
  white-space: nowrap;
  --scrollbar-bg: var(--t20);
  --scrollbar-fg: var(--t80);
  font-family: var(--monospace) !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 130% !important;
  text-align: left;
  word-break: break-all;
}
.article .code-block > .code-block-content::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.5rem;
}
.article .code-block > .code-block-content::-webkit-scrollbar-thumb,
.article .code-block > .code-block-content::-webkit-scrollbar-thumb:hover {
  border-radius: 0%;
}
.article .code-block > .code-block-content * {
  font-family: var(--monospace) !important;
  font-size: 1rem !important;
  font-weight: 400 !important;
  line-height: 130% !important;
  text-align: left;
  word-break: break-all;
}
@media (max-width: 900px) {
  .article .outwrapper {
    width: 100%;
    max-width: 100%;
    padding: 0;
  }
  .article p {
    padding: 0 2rem;
    max-width: min(46rem, calc(100% - 2rem));
    line-height: 180%;
  }
  .article .align-center-full,
  .article .box-align-center-full {
    padding: 0;
  }
  .article .align-left-full,
  .article .box-align-left-full {
    padding: 0;
    max-width: calc(100% - (max(0rem, 100% - 46rem) / 2));
    margin-right: max(2rem, calc(max(0rem, 100% - 46rem) / 2));
  }
  .article .align-left-normal,
  .article .box-align-left-normal {
    padding: 0 0 0 2rem;
    max-width: 34.5rem;
    margin-right: calc(11.5rem + ((100% - 46rem) / 2));
  }
  .article .align-left-side,
  .article .box-align-left-side {
    padding: 0;
    max-width: calc(34.5rem + ((100% - 46rem) / 2));
    margin-right: calc(11.5rem + ((100% - 46rem) / 2));
  }
  .article .align-right-full,
  .article .box-align-right-full {
    padding: 0;
    max-width: calc(100% - (max(0rem, 100% - 46rem) / 2));
    margin-left: max(2rem, calc(max(0rem, 100% - 46rem) / 2));
  }
  .article .align-right-normal,
  .article .box-align-right-normal {
    padding: 0 2rem 0 0;
    max-width: 34.5rem;
    margin-left: calc(11.5rem + ((100% - 46rem) / 2));
  }
  .article .align-right-side,
  .article .box-align-right-side {
    padding: 0;
    max-width: calc(34.5rem + ((100% - 46rem) / 2));
    margin-left: calc(11.5rem + ((100% - 46rem) / 2));
  }
}
@media (max-width: 600px) {
  .article p {
    padding: 0 1rem;
    text-align: left;
    word-break: normal;
  }
  .article .align-left-full,
  .article .box-align-left-full {
    max-width: calc(100% - 1rem);
    margin: 0 1rem 0 0;
  }
  .article .align-left-normal,
  .article .box-align-left-normal {
    padding: 0;
    max-width: calc(100% - 2rem);
    margin: 0 1rem 0 1rem;
  }
  .article .align-left-side,
  .article .box-align-left-side {
    max-width: calc(100% - 1rem);
    margin: 0 1rem 0 0;
  }
  .article .align-right-full,
  .article .box-align-right-full {
    max-width: calc(100% - 1rem);
    margin: 0 0 0 1rem;
  }
  .article .align-right-normal,
  .article .box-align-right-normal {
    padding: 0;
    max-width: calc(100% - 2rem);
    margin: 0 1rem 0 1rem;
  }
  .article .align-right-side,
  .article .box-align-right-side {
    max-width: calc(100% - 1rem);
    margin: 0 0 0 1rem;
  }
}
@media print {
  .article p {
    margin: 0 auto;
    max-width: 150mm;
    font-size: 11pt;
    font-weight: 400;
    line-height: 180%;
    text-align: justify;
    word-break: break-all;
    word-wrap: break-word;
    white-space: pre-wrap;
    font-family: var(--serif) !important;
  }
  .article p span {
    font-size: 11pt !important;
    font-family: var(--serif) !important;
  }
  .article a::after {
    content: ' (' attr(href) ') ';
  }
  .article b {
    font-family: var(--sans-serif) !important;
  }
  .article .align-center-full,
  .article .box-align-center-full {
    max-width: 100%;
    padding: 0;
  }
  .article .align-left-full,
  .article .box-align-left-full {
    padding: 0;
    max-width: calc(100% - ((100% - 150mm) / 2));
    margin-right: calc((100% - 150mm) / 2);
  }
  .article .align-left-normal,
  .article .box-align-left-normal {
    padding: 0 0 0 0;
    max-width: 112.5mm;
    margin-right: calc(37.5mm + ((100% - 150mm) / 2));
  }
  .article .align-left-side,
  .article .box-align-left-side {
    padding: 0;
    max-width: calc(112.5mm + ((100% - 150mm) / 2));
    margin-right: calc(37.5mm + ((100% - 150mm) / 2));
  }
  .article .align-right-full,
  .article .box-align-right-full {
    padding: 0;
    max-width: calc(100% - ((100% - 150mm) / 2));
    margin-left: calc((100% - 150mm) / 2);
  }
  .article .align-right-normal,
  .article .box-align-right-normal {
    padding: 0 0 0 0;
    max-width: 112.5mm;
    margin-left: calc(37.5mm + ((100% - 150mm) / 2));
  }
  .article .align-right-side,
  .article .box-align-right-side {
    padding: 0;
    max-width: calc(112.5mm + ((100% - 150mm) / 2));
    margin-left: calc(37.5mm + ((100% - 150mm) / 2));
  }
  .article .code-block {
    background: rgb(230, 230, 230);
  }
  .article .code-block > .code-block-content {
    max-height: unset;
    display: block;
    color: black !important;
    overflow-y: unset;
    overflow-x: unset;
    white-space: unset;
    text-align: left;
    word-break: break-all;
  }
  .article .code-block > .code-block-content * {
    color: black !important;
  }
}

#blog-article-control {
  padding: 2rem 0;
  border-bottom: solid 0.1rem var(--t210);
}
#blog-article-control .inwrapper {
  display: flex;
  justify-content: flex-end;
}
#blog-article-control .inwrapper > * {
  margin-left: 1rem;
}

#blog-article-index {
  padding: 6rem 0;
  border-bottom: solid 0.1rem var(--t210);
}
#blog-article-index .list {
  padding-bottom: 3rem;
}
#blog-article-index .inwrapper > .title {
  display: block;
  margin-bottom: 3rem;
  font-size: 1rem;
  font-weight: 700;
}
#blog-article-index .list article {
  width: 100%;
  max-width: calc(46rem + 40rem);
  min-height: 6rem;
  margin: 0 auto;
  margin-bottom: 2rem;
  transition: background 0.2s ease-out;
}
#blog-article-index .list article:hover {
  background: var(--t230);
}
#blog-article-index .list article:last-child {
  margin-bottom: 0;
}
#blog-article-index .list article > a {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  width: 100%;
  height: 100%;
}
#blog-article-index .list article > a > .image {
  width: 6rem;
  height: 6rem;
  background: black;
  overflow: hidden;
}
#blog-article-index .list article > a > .image > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
#blog-article-index .list article > a > .desc {
  position: relative;
  display: flex;
  width: 100%;
  min-height: 4.5rem;
  flex-direction: column;
  padding-bottom: 1.5rem;
}
#blog-article-index .list article > a > .image ~ .desc {
  width: calc(100% - 6rem - 2rem);
}
#blog-article-index .list article > a > .desc > .title > h2,
#blog-article-index .list article > a > .desc > .title > h2 * {
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 120%;
  display: inline-block;
  max-width: 100%;
  word-break: keep-all;
  overflow-wrap: break-word;
  margin-bottom: 0.5rem;
  color: var(--t128);
}
#blog-article-index .list article.current > a > .desc > .title > h2,
#blog-article-index .list article.current > a > .desc > .title > h2 * {
  color: var(--fg);
}
#blog-article-index .list article > a > .desc > .info {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 1rem;
  font-weight: 700;
  color: var(--t180);
}
#blog-article-index .list article.current > a > .desc > .info {
  color: var(--t128);
}
@media (max-width: 900px) {
  #blog-article-index .list article > a > .desc > .title > h2 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 120%;
    margin-bottom: 0.5rem;
  }
}
@media (max-width: 600px) {
  #blog-article-index .list article > a > .image ~ .desc {
    width: calc(100% - 6rem - 1rem);
  }
  #blog-article-index .list article > a > .desc > .title > h2 {
    font-size: 1.5rem;
    font-weight: 900;
    line-height: 100%;
    margin-bottom: 0rem;
  }
}

@media print {
  #blog-article-control,
  #blog-article-index {
    display: none;
  }
  #blog-article-title .outwrapper,
  #blog-article-info .outwrapper {
    padding: 0;
    width: 100%;
    max-width: 100%;
  }
  #blog-article-title-display {
    font-size: 15mm;
  }
  #blog-article-content {
    padding-bottom: 0;
    border: none;
  }
}
