link(rel="preload" as="style" href="/resources/pages/amuject/co.css")
lapis-style(src="/resources/pages/amuject/co.css")

style.
  #header-dummy {
    display: none;
  }

section#amuject-co-title

  section#amuject-co-title-bg.layer

  section#amuject-co-title-fg.layer

    .outwrapper 
      .inwrapper

        h1 Co-아무젝트
        h3 Not Made in Wanyne

  section#amuject-co-title-cv.layer

    #amuject-co-title-cv-d1
      include /views/elements/svg/diamond

    #amuject-co-title-cv-d2 
      include /views/elements/svg/diamond

    //-#amuject-co-title-cv-d3
      include /views/elements/svg/diamond

    //-#amuject-co-title-cv-d4 
      include /views/elements/svg/diamond

    //-#amuject-co-title-cv-d5
      include /views/elements/svg/diamond

    //-#amuject-co-title-cv-d6 
      include /views/elements/svg/diamond

    #amuject-co-title-cv-bl 
      include /views/elements/svg/diamond-side-bottom-left

    #amuject-co-title-cv-br
      include /views/elements/svg/diamond-side-bottom-right

section#amuject-co-content

  .outwrapper 
    .inwrapper

      .section#amuject-co-cucumbery(circle="white;rgb(50, 0, 200);✨;~ 아무젝트 ~ 눌러서 블로그 게시글 읽기")
        .ratio
          a.layer.background(href="https://cucumbery.com" target="_blank")
          .layer.foreground
            h2 test