style.
  #amuject-root a {
    text-decoration: underline;
  }
  #amuject-root ul > * {
    line-height: 180%;
    font-size: 1.25rem;
  }

section#amuject-root
  .outwrapper(narrow)
    .inwrapper

      br
      br
      h3 Index Of Amuject
      br
      br

      ul 

        li 
          a(href="https://amuject.wany.io/ballfield") 
            b Ballfield
          span  - 공놀이 하는 곳

        li 
          a(href="https://amuject.wany.io/the-big-red-button") 
            b The Big Red Button
          span  - 웹상에서 작동하는 커다란 빨간 버튼

        li 
          a(href="https://amuject.wany.io/audio-display/planets") 
            b Planets - Audio Display
          span  - 오실로스코프 뮤직 에뮬레이터 (저성능)

        li 
          a(href="https://amuject.wany.io/timer") 
            b 타이머

        li 몰라 엄청 많은데 뭐가 뭔지...