case path[3] 

  when "root": include /views/pages/docs/api/amethy/root

  when "repository": include /views/pages/docs/api/amethy/repository

  when "terminal": include /views/pages/docs/api/amethy/terminal