

#test-block 로딩 1초 css

h1 page 1

h2(style="padding-bottom: 2000px")
  a(href="/" lapis) root

h2(style="padding-bottom: 2000px")
  a(href="/page1" lapis) page 1

h2(style="padding-bottom: 2000px")
  a(href="/page2" lapis) page 2

lapis-style(src="/resources/test.css")
lapis-script(src="/resources/test.mjs")