svg(id='_레이어_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 424.26 424.26')
  g(id='_레이어_1-2')
    path(d='m261.1,128.25c-30.41,17.08-67.52,17.08-97.93,0C83.49,83.48,0,0,0,0c0,0,83.48,83.49,128.25,163.17,17.08,30.41,17.08,67.52,0,97.93C83.48,340.78,0,424.26,0,424.26c0,0,83.49-83.48,163.17-128.25,30.41-17.08,67.52-17.08,97.93,0,79.68,44.76,163.17,128.25,163.17,128.25,0,0-83.48-83.49-128.25-163.17-17.08-30.41-17.08-67.52,0-97.93C340.78,83.49,424.26,0,424.26,0,424.26,0,340.78,83.48,261.1,128.25Z')
