svg(id='_레이어_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 31 25')
  g(id='_레이어_1-2')
    rect.cls-1(x='.5' y='.5' width='30' height='24' rx='3' ry='3')
    rect.cls-1(x='9.5' y='12.5' width='12' height='9')
    path.cls-1(d='m15.5,3.5c-2.32,0-4.2,1.88-4.2,4.2v4.8h8.4v-4.8c0-2.32-1.88-4.2-4.2-4.2Z')