svg(id='_레이어_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 31 30.5')
  g(id='_레이어_1-2')
    circle.cls-1(cx='15.5' cy='8' r='7.5')
    path.cls-1(d='m30.5,30.5c0-6.63-6.72-12-15-12S.5,23.87.5,30.5')
