svg(id='_레이어_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 31 25')
  g(id='_레이어_1-2')
    line.cls-1(x1='3.38' y1='10.7' x2='9.62' y2='14.3')
    line.cls-1(x1='9.62' y1='10.7' x2='3.38' y2='14.3')
    line.cls-1(x1='6.5' y1='8.9' x2='6.5' y2='16.1')
    line.cls-1(x1='21.38' y1='10.7' x2='27.62' y2='14.3')
    line.cls-1(x1='27.62' y1='10.7' x2='21.38' y2='14.3')
    line.cls-1(x1='24.5' y1='8.9' x2='24.5' y2='16.1')
    line.cls-1(x1='12.38' y1='10.7' x2='18.62' y2='14.3')
    line.cls-1(x1='18.62' y1='10.7' x2='12.38' y2='14.3')
    line.cls-1(x1='15.5' y1='8.9' x2='15.5' y2='16.1')
    rect.cls-1(x='.5' y='.5' width='30' height='24' rx='3' ry='3')
