svg(id='_레이어_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 31 31')
  g(id='_레이어_1-2')
    path.cls-1(d='m20,.5c-5.8,0-10.5,4.7-10.5,10.5,0,1.82.46,3.53,1.28,5.02L.5,26.3v4.2h4.2l2.4-2.4h1.8v-1.8l1.2-1.2h1.8v-1.8l3.08-3.08c1.49.81,3.2,1.28,5.02,1.28,5.8,0,10.5-4.7,10.5-10.5S25.8.5,20,.5Z')
    circle.cls-1(cx='23.3' cy='7.7' r='3')

