svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1500 500")
  path(d="M150,300A150,150,0,1,0,0,150,150,150,0,0,0,150,300Zm0-200a50,50,0,1,1-50,50A50,50,0,0,1,150,100Z")
  polygon(points="450 0 350 0 350 400 200 400 200 350 100 350 100 400 0 400 0 500 350 500 450 500 450 300 500 300 500 200 450 200 450 0")
  polygon(points="900 400 650 400 650 0 550 0 550 500 1000 500 1000 0 900 0 900 400")
  polygon(points="1250 200 1200 200 1200 300 1250 300 1250 400 1150 400 1150 0 1050 0 1050 500 1350 500 1350 0 1250 0 1250 200")
  rect(x="1400" width="100" height="500")