svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 500 500')
  path(d='m475,0h-50c-13.81,0-25,11.19-25,25v24.99C358.22,18.6,306.28,0,250,0s-108.22,18.6-150,49.99v-24.99c0-13.81-11.19-25-25-25H25C11.19,0,0,11.19,0,25v450c0,13.81,11.19,25,25,25h50c13.81,0,25-11.19,25-25v-24.99c41.78,31.39,93.72,49.99,150,49.99s108.22-18.6,150-49.99v24.99c0,13.81,11.19,25,25,25h50c13.81,0,25-11.19,25-25V25c0-13.81-11.19-25-25-25Zm-225,400c-82.84,0-150-67.16-150-150S167.16,100,250,100s150,67.16,150,150-67.16,150-150,150Z')
  circle(cx='250' cy='250' r='60')
