svg(id='_레이어_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1500 500')
  g(id='_레이어_1-2')
    g
      path(d='M1350,25c0-13.81-11.19-25-25-25h-50c-13.81,0-25,11.19-25,25V175c0,13.81-11.19,25-25,25s-25,11.19-25,25v50c0,13.81,11.19,25,25,25s25,11.19,25,25-11.19,25-25,25h-50c-13.81,0-25-11.19-25-25v-125C1150,0,1200,0,1200,0h-125c-13.81,0-25,11.19-25,25V475c0,13.81,11.19,25,25,25h250c13.81,0,25-11.19,25-25V25Z')
      path(d='M1000,0h-125c-13.81,0-25,11.19-25,25V475c0,13.81,11.19,25,25,25h100c13.81,0,25-11.19,25-25V200C1000,0,1050,0,1050,0h-50Z')
      path(d='M1475,0h-50c-13.81,0-25,11.19-25,25V300c0,200-50,200-50,200h125c13.81,0,25-11.19,25-25V25c0-13.81-11.19-25-25-25Z')
      path(d='M500,225c0-13.81-11.19-25-25-25-12.73,0-23.22-9.51-24.79-21.81C453.71,0,500,0,500,0h-125c-13.81,0-25,11.19-25,25V325c0,13.81-11.19,25-25,25h-100c-13.81,0-25-11.19-25-25s11.19-25,25-25h-5v-.18c1.65,.11,3.32,.18,5,.18,41.42,0,75-33.58,75-75v-75C300,67.16,232.84,0,150,0S0,67.16,0,150v75c0,41.42,33.58,75,75,75,1.68,0,3.35-.08,5-.18v.18h-5c13.81,0,25,11.19,25,25s-11.19,25-25,25H25c-13.81,0-25,11.19-25,25v100c0,13.81,11.19,25,25,25H425c13.81,0,25-11.19,25-25v-150c0-13.81,11.19-25,25-25s25-11.19,25-25v-50Zm-425-25c-13.81,0-25-11.19-25-25v-50c0-13.81,11.19-25,25-25s25,11.19,25,25v50c0,13.81-11.19,25-25,25Z')
      path(d='M775,350c-13.81,0-25-11.19-25-25V25c0-13.81-11.19-25-25-25h-150c-13.81,0-25,11.19-25,25V300c0,200-50,200-50,200h275c13.81,0,25-11.19,25-25v-100c0-13.81-11.19-25-25-25Z')
