svg(xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 500")
  circle(cx="250" cy="250" r="60")
  path(d="M400,0V50a250,250,0,0,0-300,0V0H0V500H100V450a250,250,0,0,0,300,0v50H500V0ZM250,400A150,150,0,1,1,400,250,150,150,0,0,1,250,400Z")