h1 API 키

#manage-auth-account-keys 

  .label API 키 목록

  .keys

    .key
      .info
        .name 
        .meta

  hr

  .control(right)
    button#button-manage-auth-account-keys-insert(medium color="green") 새 API 키 만들기

lapis-script(src="/resources/pages/manage/auth/accounts/keys.mjs")