section#manage-auth-account-main
  .outwrapper(rightnarrow)
    .inwrapper

      h1 와니네 계정

      #manage-auth-account-index 

        .label 와니네 계정 목록

        .accounts 

          .account

lapis-script(src="/resources/pages/manage/auth/accounts/root.mjs")
