h1 비밀번호 변경

#you-change-password

  form(onSubmit="return false;")

    .label 기존 비밀번호
    .input.text(medium)
      input#input-you-change-password-old.btn(type="password" name="old-password" placeholder="기존 비밀번호" spellcheck="false" required) 
      label 기존 비밀번호
      .border

    hr

    .label 새 비밀번호
    .input.text(medium)
      input#input-you-change-password-new.btn(type="password" name="new-password" placeholder="새 비밀번호" spellcheck="false" required) 
      label 새 비밀번호
      .border 
    .desc 새 비밀번호는 8글자 이상 입력해야 합니다.

    .label 새 비밀번호 재입력
    .input.text(medium)
      input#input-you-change-password-new-confirm.btn(type="password" name="new-password-confirm" placeholder="새 비밀번호 재입력" spellcheck="false" required) 
      label 새 비밀번호 재입력
      .border
    
    .control 
      button#button-you-change-password-update(medium color="green") 비밀번호 변경
      .desc 비밀번호 변경 시 모든 세션이 로그아웃됩니다.

lapis-script(src="/resources/pages/you/change-password.mjs")

      