
h1 API 키

#you-keys 

  .label API 키 목록

  .keys

    .key
      .left
      .info
        .perm 8개의 권한 노드
        .last 무기한 · 3분 전 마지막으로 사용됨

    .key
      .info
        .perm 27개의 권한 노드
        .last 2023년 9월 8일 13:00 만료 · 10월 9일 마지막으로 사용됨