link(rel="preload" as="style" href="/resources/pages/you/reset-password.css")
lapis-style(src="/resources/pages/you/reset-password.css")


#you-reset-password-wrapper
  .block(layer)#you-reset-password-1
    .wrapper
      .side.front(layer)
        form(onsubmit="return false;")
          h2 비밀번호 재설정
          .inputs
            .input.text(label="inner")
              input#input-you-reset-password-email.btn(type="email" name="email" placeholder="계정 이메일" spellcheck="false" required) 
              label 계정 이메일
              .border
          button#button-you-reset-password-submit-1 이메일 인증 코드 전송
      .side.back(layer)
          h2 전송 중⏳...

  .block(layer style="top: 9999px")#you-reset-password-2
    .wrapper
      .side.front(layer)
        form(onsubmit="return false;")
          h2 비밀번호 재설정
          .inputs
            .input.text(label="inner")
              input#input-you-reset-password-code.btn(type="text" name="code" placeholder="이메일 인증 코드" spellcheck="false" minlength="6" maxlength="6" required) 
              label 이메일 인증 코드
              .border
          button#button-you-reset-password-submit-2 이메일 인증 코드 확인
      .side.back(layer)
          h2 확인 중⏳...

  .block(layer style="top: 9999px")#you-reset-password-3
    .wrapper
      .side.front(layer)
        form(onsubmit="return false;")
          h2 비밀번호 재설정
          .inputs
            .input.text(label="inner")
              input#input-you-reset-password-newpass.btn(type="password" name="new-password" placeholder="새 비밀번호" minlength="8" spellcheck="false" required) 
              label 새 비밀번호
              .border
            .input.text(label="inner")
              input#input-you-reset-password-newpass-re.btn(type="password" name="new-password-retype" placeholder="새 비밀번호 재입력" minlength="8" spellcheck="false" required) 
              label 새 비밀번호 재입력
              .border
          button#button-you-reset-password-submit-3 비밀번호 재설정
      .side.back(layer)
          h2 비밀번호 재설정 중⏳...
  
lapis-script(src="/resources/pages/you/reset-password.mjs")