case path[1] 

  when "root": include /views/pages/you/root

  when "login": include /views/pages/you/login

  when "reset-password": include /views/pages/you/reset-password

  when "about": include /views/pages/you/about

  when "change-password": include /views/pages/you/change-password
  
  when "sessions": include /views/pages/you/sessions

  when "keys": include /views/pages/you/keys

  when "key": include /views/pages/you/key