
h1 세션

#you-sessions

  .label 세션 목록
  .sessions 

    .session.current 
      .icon 
        .system(name="windows-10")
        .browser(name="chrome")
      .info
        .geoip
          .ip 255.255.255.255
          .dot ·
          .loc Busan, South Korea
        .last 현재 세션
      .control

    .session
      .icon 
        .system(name="windows-10")
        .browser(name="chrome")
      .info
        .geoip
          .ip 255.255.255.255
          .dot ·
          .loc Busan, South Korea
        .last 현재 세션
      .control
        button(color="red" medium) 로그아웃