doctype html
html(lang='ko')

  include /views/elements/head

  body

    noscript
      include /views/elements/noscript

    if (elements.includes('scripts')) 
      include /views/elements/scripts
    
    if (elements.includes('header')) 
      include /views/elements/header

    main

      include /views/pages/routes

    if (elements.includes('footer'))
      include /views/elements/footer