svg(id='_layer_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 1100')
  g(id='_layer_1-2')
    g
      path(d='M1050,100H50C22.39,100,0,77.61,0,50S22.39,0,50,0h1000c27.61,0,50,22.39,50,50s-22.39,50-50,50Z')
      path(d='M1050,1100H50c-27.61,0-50-22.39-50-50s22.39-50,50-50h1000c27.61,0,50,22.39,50,50s-22.39,50-50,50Z')
      path(d='M950,900H50c-27.61,0-50-22.39-50-50V250c0-27.61,22.39-50,50-50H950c27.61,0,50,22.39,50,50V850c0,27.61-22.39,50-50,50ZM100,800H900V300H100v500Z')
