svg(id='_layer_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 1100.02')
  g(id='_layer_1-2')
    g
      path(d='M159.81,.98c-27.08-5.42-53.42,12.14-58.83,39.22L.97,540.2c-1.29,6.47-1.29,13.14,0,19.61l100,500c4.75,23.77,25.63,40.21,48.98,40.2,3.25,0,6.55-.32,9.86-.98,27.08-5.42,44.64-31.76,39.22-58.83l-98.04-490.19L199.03,59.82c5.42-27.08-12.15-53.42-39.22-58.83Z')
      path(d='M1099.03,540.2L999.03,40.2c-5.42-27.08-31.75-44.64-58.83-39.22-27.08,5.42-44.64,31.76-39.22,58.83l98.04,490.19-98.04,490.19c-5.42,27.08,12.15,53.42,39.22,58.83,3.31,.66,6.61,.98,9.86,.98,23.34,0,44.22-16.44,48.98-40.2l100-500c1.29-6.47,1.29-13.14,0-19.61Z')
      path(d='M680,200.01H300c-27.61,0-50,22.39-50,50V850.01c0,27.61,22.39,50,50,50s50-22.39,50-50v-250h330c110.28,0,200-89.72,200-200s-89.72-200-200-200Zm0,300H350v-200h330c55.14,0,100,44.86,100,100s-44.86,100-100,100Z')
