svg(id='_layer_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 1100')
  g(id='_layer_1-2')
    path(d='M1050,0H50C22.39,0,0,22.39,0,50s22.39,50,50,50H500v950c0,27.61,22.39,50,50,50s50-22.39,50-50V100h450c27.61,0,50-22.39,50-50S1077.61,0,1050,0Z')
