svg(id='_layer_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 1100')
  g(id='_layer_1-2')
    g
      path(d='M1050,0H50C22.39,0,0,22.39,0,50v1000c0,27.61,22.39,50,50,50h1000c27.61,0,50-22.39,50-50V50c0-27.61-22.39-50-50-50Zm-50,1000H100V100H1000V1000Z')
      path(d='M302.57,865.81c6.98,20.95,26.49,34.2,47.43,34.2,5.24,0,10.57-.83,15.82-2.58,26.2-8.73,40.36-37.05,31.62-63.25l-94.73-284.19,94.73-284.19c8.73-26.2-5.43-54.51-31.62-63.25-26.2-8.73-54.51,5.43-63.25,31.62l-100,300c-3.42,10.26-3.42,21.36,0,31.62l100,300Z')
      path(d='M734.19,897.43c5.25,1.75,10.58,2.58,15.82,2.58,20.93,0,40.44-13.25,47.43-34.2l100-300c3.42-10.26,3.42-21.36,0-31.62l-100-300c-8.73-26.2-37.04-40.36-63.25-31.62-26.2,8.73-40.36,37.05-31.62,63.25l94.73,284.19-94.73,284.19c-8.73,26.2,5.43,54.51,31.62,63.25Z')
      path(d='M491.78,899.32c2.78,.46,5.55,.69,8.28,.69,24,0,45.18-17.33,49.26-41.79l100-600c4.54-27.24-13.86-53-41.1-57.54-27.24-4.53-53,13.86-57.54,41.1l-100,600c-4.54,27.24,13.86,53,41.1,57.54Z')
