svg(id='_layer_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 1100')
  g(id='_layer_1-2')
    g
      path(d='M1050,0H50C22.39,0,0,22.39,0,50v1000c0,27.61,22.39,50,50,50h1000c27.61,0,50-22.39,50-50V50c0-27.61-22.39-50-50-50Zm-50,1000H100V100H1000V1000Z')
      path(d='M302.51,797.49c32.13,32.13,69.55,57.36,111.24,74.99,43.18,18.26,89.02,27.53,136.25,27.53s93.07-9.26,136.25-27.53c41.68-17.63,79.11-42.86,111.24-74.99,32.13-32.13,57.36-69.55,74.99-111.24,18.26-43.18,27.53-89.02,27.53-136.25s-9.26-93.07-27.53-136.25c-17.63-41.68-42.86-79.11-74.99-111.24-32.13-32.13-69.55-57.36-111.24-74.99-43.18-18.26-89.02-27.53-136.25-27.53s-93.07,9.26-136.25,27.53c-41.68,17.63-79.11,42.86-111.24,74.99-32.13,32.13-57.36,69.55-74.99,111.24-18.26,43.18-27.53,89.02-27.53,136.25s9.26,93.07,27.53,136.25c17.63,41.68,42.86,79.11,74.99,111.24Zm247.49-497.49c137.85,0,250,112.15,250,250s-112.15,250-250,250-250-112.15-250-250,112.15-250,250-250Z')
