svg(id='_layer_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 1100')
  g(id='_layer_1-2')
    g
      path(d='M1050,0H50C22.39,0,0,22.39,0,50v1000c0,27.61,22.39,50,50,50h1000c27.61,0,50-22.39,50-50V50c0-27.61-22.39-50-50-50Zm-50,1000H100V100H1000V1000Z')
      path(d='M274.48,893c7.86,4.66,16.69,7,25.52,7,8.23,0,16.47-2.03,23.94-6.1l550-300c16.06-8.76,26.06-25.6,26.06-43.9s-9.99-35.13-26.06-43.9L323.94,206.1c-15.49-8.45-34.29-8.11-49.47,.9-15.17,9.01-24.48,25.35-24.48,43V850c0,17.65,9.3,33.99,24.48,43Zm75.52-558.77l395.58,215.77-395.58,215.77V334.23Z')
