svg(id='_layer_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 1100')
  g(id='_layer_1-2')
    g
      path(d='M1050,1000H50c-27.61,0-50,22.39-50,50s22.39,50,50,50h1000c27.61,0,50-22.39,50-50s-22.39-50-50-50Z')
      path(d='M1050,0c-27.61,0-50,22.39-50,50V350c0,248.13-201.87,450-450,450S100,598.13,100,350V50C100,22.39,77.61,0,50,0S0,22.39,0,50V350c0,74.23,14.55,146.26,43.24,214.1,27.7,65.5,67.35,124.31,117.85,174.81,50.5,50.5,109.31,90.15,174.81,117.85,67.84,28.69,139.87,43.24,214.1,43.24s146.26-14.55,214.1-43.24c65.5-27.7,124.31-67.35,174.81-117.85,50.49-50.49,90.14-109.31,117.85-174.81,28.69-67.84,43.24-139.87,43.24-214.1V50c0-27.61-22.39-50-50-50Z')
