svg(id='_layer_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 1100')
  g(id='_layer_1-2')
    g
      path(d='M650,150H50c-27.61,0-50,22.39-50,50s22.39,50,50,50h250v800c0,27.61,22.39,50,50,50s50-22.39,50-50V250h250c27.61,0,50-22.39,50-50s-22.39-50-50-50Z')
      path(d='M1050,300h-50V50c0-27.61-22.39-50-50-50h-100c-27.61,0-50,22.39-50,50s22.39,50,50,50h50v200h-50c-27.61,0-50,22.39-50,50s22.39,50,50,50h200c27.61,0,50-22.39,50-50s-22.39-50-50-50Z')
