svg(id='_layer_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 1100.02')
  g(id='_layer_1-2')
    path(d='M1050,1000H423.85L783.85,100h266.15c27.61,0,50-22.39,50-50S1077.61,0,1050,0h-300.15c-.3,0-.6,0-.9,0H50C22.39,0,0,22.39,0,50s22.39,50,50,50H676.15L316.15,1000H50c-27.61,0-50,22.39-50,50s22.39,50,50,50H349.42c.19,0,.38,.01,.56,.01,.24,0,.47,0,.7-.01h699.31c27.61,0,50-22.39,50-50s-22.39-50-50-50Z')
