svg(id='_layer_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 1100')
  g(id='_layer_1-2')
    path(d='M1050,500H450c-110.28,0-200-89.72-200-200s89.72-200,200-200h450c27.61,0,50-22.39,50-50S927.61,0,900,0H450c-80.13,0-155.47,31.21-212.13,87.87-56.66,56.66-87.87,132-87.87,212.13,0,74.54,27.02,144.93,76.4,200H50c-27.61,0-50,22.39-50,50s22.39,50,50,50H650c110.28,0,200,89.72,200,200s-89.72,200-200,200H200c-27.61,0-50,22.39-50,50s22.39,50,50,50h450c80.13,0,155.47-31.21,212.13-87.87,56.66-56.66,87.87-132,87.87-212.13,0-74.54-27.02-144.93-76.4-200h176.4c27.61,0,50-22.39,50-50s-22.39-50-50-50Z')
