svg(id='_layer_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1110 1100')
  g(id='_layer_1-2')
    g
      path(d='M1060,100H50C22.39,100,0,77.61,0,50S22.39,0,50,0h1010c27.61,0,50,22.39,50,50s-22.39,50-50,50Z')
      path(d='M1060,1100H60c-27.61,0-50-22.39-50-50s22.39-50,50-50h1000c27.61,0,50,22.39,50,50s-22.39,50-50,50Z')
      path(d='M1060,600H60c-27.61,0-50-22.39-50-50s22.39-50,50-50h1000c27.61,0,50,22.39,50,50s-22.39,50-50,50Z')
