@font-face {
  font-family: 'Mint Grotesk';
  src: url('/resources/fonts/Mint-Grotesk/woff2/MintGroteskV1.1-Thin.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: 'Mint Grotesk';
  src: url('/resources/fonts/Mint-Grotesk/woff2/MintGroteskV1.1-Light.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: 'Mint Grotesk';
  src: url('/resources/fonts/Mint-Grotesk/woff2/MintGroteskV1.1-Regular.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: 'Mint Grotesk';
  src: url('/resources/fonts/Mint-Grotesk/woff2/MintGroteskV1.1-Medium.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'Mint Grotesk';
  src: url('/resources/fonts/Mint-Grotesk/woff2/MintGroteskV1.1-Bold.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 700;
  font-display: swap;
}

@font-face {
  font-family: 'Mint Grotesk';
  src: url('/resources/fonts/Mint-Grotesk/woff2/MintGroteskV1.1-ExtraBold.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: 'Mint Grotesk';
  src: url('/resources/fonts/Mint-Grotesk/woff2/MintGroteskV1.1-Heavy.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 900;
  font-display: swap;
}

@font-face {
  font-family: 'Mint Grotesk';
  src: url('/resources/fonts/Mint-Grotesk/woff2/MintGroteskV1.1-Black.woff2')
    format('woff2');
  font-style: normal;
  font-weight: 950;
  font-display: swap;
}
