head

  meta(charset="UTF-8")
  meta(name="viewport" content="width=device-width, user-scalable=no, initial-scale=1")
  meta(name="format-detection" content="telephone=no")
  meta(name="theme-color" content="#D2B0DD")
  meta(name="og:type" content="website")
  meta(name="og:site_name" content="와니네")
  meta(name="og:locale" content="ko_KR")

  link(href="/resources/elements/master.css" type="text/css" rel="stylesheet")
  link(href="/resources/elements/layout.css" type="text/css" rel="stylesheet")
  link(href="/resources/elements/inputs.css" type="text/css" rel="stylesheet")

  title!= title