
a.logo(href="/" lapis)
  .icon 
    include /views/elements/svg/wanyne-logo-icon
  .title
    include /views/elements/svg/wanyne-logo-text

p 브라우저에서 자바스크립트가 비활성화되어 있습니다.
p 
  | 사이트를 사용하려면 
  a(href="https://support.google.com/adsense/answer/12654" rel="noopener nofollow noreferrer" target="_blank") 브라우저에서 자바스크립트를 활성화
  | 하십시오.