//- Animate
script(src="/resources/modules/animate.mjs" type="module" defer="defer")

//- Notification
script(src="/resources/modules/notification.mjs" type="module" defer="defer")

//- Cursor
script(src="/resources/modules/cursor.mjs" type="module" defer="defer")

//- Inputs
script(src="/resources/modules/inputs.mjs" type="module" defer="defer")

//- Cloudflare Web Analytics
//- script(src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "89434e100011464b8864120425b5f703"}' defer)
