//- Notification
script(src="/resources/modules/notification.mjs" type="module" defer="defer")

//- Cursor
script(src="/resources/modules/cursor.mjs" type="module" defer="defer")

//- Inputs
script(src="/resources/modules/inputs.mjs" type="module" defer="defer")

//- Google Analytics
script(src="https://www.googletagmanager.com/gtag/js?id=G-4229X5VRKY" async)
script window.dataLayer = window.dataLayer || []; function gtag(){dataLayer.push(arguments);} gtag("js", new Date()); gtag("config", "G-4229X5VRKY");

//- Cloudflare Web Analytics
//- script(src='https://static.cloudflareinsights.com/beacon.min.js' data-cf-beacon='{"token": "89434e100011464b8864120425b5f703"}' defer)
