style.
  #works-greenbee a {
    text-decoration: underline;
  }
  #works-greenbee ul > * {
    line-height: 180%;
    font-size: 1.25rem;
  }

#works-greenbee 
  .outwrapper(narrow)
    .inwrapper
      br
      br
      h3 
        a.btn(href="https://www.instagram.com/greenbee.hivcd/") 💚 그린비 💚
      br
      br
      h3 Index of Greenbee in Works
      br
      br
      ul 
        p 
          b [ GREENBEE 2020 ]
        li 
          a(href="https://amuject.wany.io/greenbee/melon-postcard") Melon postcard
        li 
          a(href="https://amuject.wany.io/greenbee/ar-poster") AR poster
        p 
          b 
            a(href="https://greenbee404.com/") [ GREENBEE IN SISO 2021 ]
        li
          a(href="https://amuject.wany.io/greenbee/siso-2021/404-not-found-not-found") 404 Not Found Not Found
        li
          a(href="https://library.greenbee404.com/") greenbee 404 library
        li 
          a(href="https://amuject.wany.io/greenbee/siso-2021/book-demo") greenbee 404 library book demo
        
