lapis-script(src="/resources/pages/network-crystal/modules/dns.mjs")

section#network-crystal-modules-dns
  .title 
    h1 DNS 레코드

  .content 
    .set.a
      .key A
      .value
    .set.aaaa
      .key AAAA
      .value
    .set.cname
      .key CNAME
      .value
    .set.mx
      .key MX
      .value
    .set.ns
      .key NS
      .value
    .set.soa
      .key SOA
      .value
    .set.srv
      .key SRV
      .value
    .set.txt
      .key TXT
      .value