lapis-script(src="/resources/pages/network-crystal/modules/subdomains.mjs")

section#network-crystal-modules-subdomains
  .title 
    .icon 
      include /views/pages/network-crystal/svg/icon-subdomains
    h1 서브도메인

  .content 
    .ratiobox
      .text(layer)
        .raw
    .control 
      button(small disabled) 서브도메인 다시 스캔하기