lapis-script(src="/resources/pages/network-crystal/modules/yourip.mjs")

section#network-crystal-modules-yourip
  .title 
    .icon 
      include /views/pages/network-crystal/svg/icon-default
    h1 당신의 아이피

  .content 
    h2 
      span.h2.n!= req.client.ip