svg(xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 900')
  g
    path(d='M1050,900H50c-27.61,0-50-22.39-50-50V200c0-27.61,22.39-50,50-50H313.96l38.6-115.81C359.37,13.77,378.48,0,400,0h300c21.52,0,40.63,13.77,47.43,34.19l38.6,115.81h263.96c27.61,0,50,22.39,50,50V850c0,27.61-22.39,50-50,50ZM100,800H1000V250h-250c-21.52,0-40.63-13.77-47.43-34.19l-38.6-115.81h-227.92l-38.6,115.81c-6.81,20.42-25.91,34.19-47.43,34.19H100V800Z')
    path(d='M550,700c-110.28,0-200-89.72-200-200s89.72-200,200-200,200,89.72,200,200-89.72,200-200,200Zm0-300c-55.14,0-100,44.86-100,100s44.86,100,100,100,100-44.86,100-100-44.86-100-100-100Z')
