svg(id='_·¹ÀÌ¾î_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 900')
  g(id='_·¹ÀÌ¾î_1-2')
    path(d='M1050,900H50c-27.61,0-50-22.39-50-50V50C0,22.39,22.39,0,50,0h1000c27.61,0,50,22.39,50,50V850c0,27.61-22.39,50-50,50ZM100,800H1000V100H100V800Z')
    g
      rect(x='150' y='150' width='100' height='600')
      path(d='M600,550c0-82.83-67.15-149.97-150-150h0v.03c-27.61,0-50-22.38-50-49.98,0-.02,0-.03,0-.05h0v-60c0-27.61,22.39-50,50-50s50,22.39,50,50v10h100v-10c0-82.84-67.16-150-150-150s-150,67.16-150,150v60h0s0,.03,0,.05c0,82.82,67.16,149.95,150,149.95h0c27.6,.03,49.97,22.4,49.97,50h.03v59c0,27.61-22.39,50-50,50s-50-22.39-50-50h0v-9h-100v10h.01c.54,82.38,67.48,149,149.99,149s149.45-66.62,149.99-149h.01v-.99s0,0,0,0h0v-59Z')
      path(d='M800,140c-82.84,0-150,67.16-150,150v320h-.05c0,82.84,67.16,150,150,150s150-67.16,150-150h.05V290c0-82.84-67.16-150-150-150Zm50,470h-.05c0,27.61-22.39,50-50,50s-50-22.39-50-50h.05V290c0-27.61,22.39-50,50-50s50,22.39,50,50v320Z')
