svg(id='_·¹ÀÌ¾î_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 900')
  g(id='_·¹ÀÌ¾î_1-2')
    path(d='M1050,900H350c-15.74,0-30.56-7.41-40-20L10,480c-13.33-17.78-13.33-42.22,0-60L310,20c9.44-12.59,24.26-20,40-20h700c27.61,0,50,22.39,50,50V850c0,27.61-22.39,50-50,50Zm-675-100H1000V100H375L112.5,450l262.5,350Z')
