svg(id='_·¹ÀÌ¾î_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 1100')
  g(id='_·¹ÀÌ¾î_1-2')
    path(d='M899.98,1100c-8.69,0-17.44-2.26-25.33-6.9L24.65,593.1c-15.27-8.98-24.65-25.38-24.65-43.1s9.38-34.11,24.65-43.1L874.65,6.9c19.63-11.55,44.58-8.37,60.69,7.73,6.71,6.7,164.27,168.34,164.66,535.32,.39,367.11-158,528.81-164.75,535.51-9.62,9.57-22.38,14.54-35.27,14.54ZM148.62,550l739.26,434.86c12.46-18.09,28.46-44.54,44.36-79.82,31.02-68.83,67.95-186.29,67.77-354.98-.18-168.76-37.12-286.27-68.08-355.13-15.83-35.21-31.74-61.63-44.14-79.73L148.62,550Z')
