svg(id='_레이어_2' xmlns='http://www.w3.org/2000/svg' viewbox='0 0 1100 1000')
  g(id='_레이어_1-2')
    g
      path(d='M1050,100h-150V50c0-27.61-22.39-50-50-50s-50,22.39-50,50v50h-100V50c0-27.61-22.39-50-50-50s-50,22.39-50,50v50h-100V50c0-27.61-22.39-50-50-50s-50,22.39-50,50v50h-100V50c0-27.61-22.39-50-50-50s-50,22.39-50,50v50H50C22.39,100,0,122.39,0,150V950c0,27.61,22.39,50,50,50h1000c27.61,0,50-22.39,50-50V150c0-27.61-22.39-50-50-50Zm-50,800H100V200h100v50c0,27.61,22.39,50,50,50s50-22.39,50-50v-50h100v50c0,27.61,22.39,50,50,50s50-22.39,50-50v-50h100v50c0,27.61,22.39,50,50,50s50-22.39,50-50v-50h100v50c0,27.61,22.39,50,50,50s50-22.39,50-50v-50h100V900Z')
      path(d='M250,500h100c27.61,0,50-22.39,50-50s-22.39-50-50-50h-100c-27.61,0-50,22.39-50,50s22.39,50,50,50Z')
      path(d='M750,500h100c27.61,0,50-22.39,50-50s-22.39-50-50-50h-100c-27.61,0-50,22.39-50,50s22.39,50,50,50Z')
      path(d='M500,500h100c27.61,0,50-22.39,50-50s-22.39-50-50-50h-100c-27.61,0-50,22.39-50,50s22.39,50,50,50Z')
      path(d='M250,650h100c27.61,0,50-22.39,50-50s-22.39-50-50-50h-100c-27.61,0-50,22.39-50,50s22.39,50,50,50Z')
      path(d='M750,650h100c27.61,0,50-22.39,50-50s-22.39-50-50-50h-100c-27.61,0-50,22.39-50,50s22.39,50,50,50Z')
      path(d='M500,650h100c27.61,0,50-22.39,50-50s-22.39-50-50-50h-100c-27.61,0-50,22.39-50,50s22.39,50,50,50Z')
      path(d='M350.78,699.2h-100c-27.61,0-50,22.39-50,50s22.39,50,50,50h100c27.61,0,50-22.39,50-50s-22.39-50-50-50Z')
      path(d='M850.78,699.2h-100c-27.61,0-50,22.39-50,50s22.39,50,50,50h100c27.61,0,50-22.39,50-50s-22.39-50-50-50Z')
      path(d='M600.78,699.2h-100c-27.61,0-50,22.39-50,50s22.39,50,50,50h100c27.61,0,50-22.39,50-50s-22.39-50-50-50Z')
