#you-reset-password-wrapper {
  position: relative;
  width: 100%;
  height: calc(100vh - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  white-space: nowrap;
}
#you-reset-password-wrapper > .block {
  height: calc(100% - 4rem);
  display: flex;
  justify-content: center;
  align-items: center;
}
#you-reset-password-wrapper > .block > .wrapper {
  position: relative;
  width: 24rem;
  height: 24rem;
  padding: 5rem;
  perspective: 100vw;
  perspective-origin: center;
}
#you-reset-password-wrapper > .block > .wrapper > .side {
  position: absolute;
  width: 24rem;
  height: 24rem;
  padding: 5rem;
  border-radius: 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transform-style: preserve-3d;
  background: var(--t255);
}
#you-reset-password-wrapper > .block[status='shake'] > .wrapper > .side {
  animation: shake 0.5s;
  animation-iteration-count: infinite;
}
#you-reset-password-wrapper > .block[status='goaway'] > .wrapper > .side {
  transition: transform 0.5s ease-out !important;
  transform: rotate(720deg) scale(0) !important;
}
#you-reset-password-wrapper > .block > .wrapper > .back {
  transform: rotateX(-180deg);
  opacity: 0;
  pointer-events: none;
}

#you-reset-password-wrapper > .block > .wrapper > .front > form {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
#you-reset-password-wrapper > .block > .wrapper > .front > form > h2 {
  height: 4rem;
}
#you-reset-password-wrapper > .block > .wrapper > .front > form > .inputs {
  width: 100%;
}
#you-reset-password-wrapper
  > .block
  > .wrapper
  > .front
  > form
  > .inputs
  > .input {
  display: block;
  width: 100%;
  margin-bottom: 1rem;
}
#you-reset-password-wrapper > .block > .wrapper > .front > form > button {
  width: 100%;
}
