/*

  Wanymetric Mono

  © 2017 - 2021, Wany (Wany)
  
  wany.io

*/

@font-face {
  font-family: 'Wanymetric Mono';
  src: url(/font/wanymetric/Wanymetric-Mono-Regular.woff2) format('woff2');
  font-style: normal;
  font-weight: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Wanymetric Mono';
  src: url(/font/wanymetric/Wanymetric-Mono-Bold.woff2) format('woff2');
  font-style: normal;
  font-weight: bold;
  font-display: swap;
}
